<header id="header-page">
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <a href="index.html"><img id="logo" src="/imgs/elCangrejoLogo.png" alt="logo el cangrejo"></a>
            </div>

            <div class="menu-bar col-md-7">
                <nav class="container" role="menu">
                    <ul class="menu-list list-inline">
                        <li class="list-inline-item">
                            <a href="index.html">Inicio</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="Menú.html">Menú</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="Donde-estamos.html">¿Dónde estamos?</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="Sugerencias.html">Sugerencias</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-2 text-center">
                <ul class="social-header list-inline ">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/El-Cangrejo-Mariscos-989456437884023/" target="_blank">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/cangrejomariscos/?hl=es-la" target="_blank">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/CangrejoMarisc1" target="_blank">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>