<%- include('./includes/head.ejs') %>

  <%- include('./includes/navigation.ejs') %>


    <div id="main">

      <%- include('./includes/carousel.ejs') %>

        <div class="text-center cont-sucursalesindex">
          <h1>Lo más pedido</h1>
        </div>
        
        <div class="container cuadro-platillos text-center">
          <div class="row cartas-platillos">
            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Caldos/Consome.jpg" alt="Consome">
                <div class="card-body">
                  <h3 class="card-title">Consome de pollo</h3>

                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Platillos/laqueusare/CamaronesSalteados.jpg"
                  alt="Camarones salteados">
                <div class="card-body">
                  <h3 class="card-title">Camarones salteados</h3>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Platillos/laqueusare/CoctelCamaron.jpg" alt="Cóctel de Camarón">
                <div class="card-body">
                  <h3 class="card-title">Cóctel de Camarón</h3>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Platillos/laqueusare/crab.jpg" alt="Cangrejo Frito">
                <div class="card-body">
                  <h3 class="card-title">Cangrejo Frito</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row cartas-platillos">
            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Platillos/laqueusare/FileteEmpanizado.jpg"
                  alt="Filete de pescado empanizado">
                <div class="card-body">
                  <h3 class="card-title">Filete de pescado empanizado</h3>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Postres/MiniTartas.jpg" alt="Mini Tartas">
                <div class="card-body">
                  <h3 class="card-title">Mini Tartas</h3>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Postres/PayQueso.jpg" alt="Pay de Queso">
                <div class="card-body">
                  <h3 class="card-title">Pay de Queso</h3>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card text-center" style="width: 15rem;">
                <img class="card-img-top" src="imgs/Bebidas/limonada.jpg" alt="Limonada">
                <div class="card-body">
                  <h3 class="card-title">Limonada</h3>
                </div>
              </div>
            </div>

            <div class="container">
              <a class="container" href="Menú.html"><input type="button" value="Ver el menú completo "></a>
            </div>

          </div>

        </div>

        <div class="direcciones">
          <h1>Visitenos en nuestras 2 sucursales</h1>
          <p class="domicilio">Av. Pablo Libas 128 Colonia Hacienda La Silla / Av. San Juan de los Lagos 4070 Colonia
            Los Altos</p>
        </div>

    </div>
    </div>
    <%- include('./includes/end.ejs') %>